.options {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:auto;
    width:12.8em;
}
.options button {
    width:6.2em;
    padding:1em;
    float:left;
    height:6.2em;
    margin:0.38em;
    border:2px solid #aaa;
}
.options .correct button {
    background-color:green;
}
.options .incorrect button {
    background-color:red;
}
.options .selected button {
    border-color:#33c;
}
.options button:not([disabled]){
    cursor:pointer;
}

.inactive {
    display:none;
}
.report.correct {
    color:green;
}
.report.incorrect {
    color:red;
}
